{{ define "trainer/clients.html" }}

{{ template "layouts/trainer-panel-head.html" .}}

<div id="Clients" class="p-4">
    <h1 class="text-2xl font-bold dark:font-normal mb-2">Clients</h1>
    <hr class="dark:border-slate-700"/>

    <div class="mt-8">
        <button type="button" class="btn" data-modal="#CreateClient">Add</button>
    </div>

    {{ template "trainer/client/create.html" . }}

    <table class="table mt-2">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    class ClientListManager {
        container = '#Clients';
        elements = {
            table: 'table',
            tbody: 'table tbody'
        }

        constructor(props) {
            ElementHydrator.hydrate(this);

            this.#loadPage();

            this.#listenForCreatedClientEvent();
        }

        // Reload client list whenever a new one is created
        #listenForCreatedClientEvent() {
            window.EventPipeline.listen('client-created').then(() => {
                this.#loadPage();
                this.#listenForCreatedClientEvent();
            });
        }

        async #loadPage() {
            this.#loading = true;
            const reqBody = {};

            const res = await fetch('/trainer/clients/list', {
                headers: {
                    'Authorization': '',
                },
            });

            const body = await res.json();

            // Inject into table or show that none were found
            this.elements.tbody.innerHTML = '';
            if (body.clients.length) {
                for (let client of body.clients) {
                    this.elements.tbody.appendChild(this.#buildTableRowFromJson(client));
                }
            } else {
                this.elements.tbody.innerHTML += '<tr><td colspan="3" class="text-center">No clients found.</td></tr>';
            }
        }

        #buildTableRowFromJson(json) {
            const row = document.createElement('tr');
            row.innerHTML += `<td>${json.firstName} ${json.lastName}</td>`
            row.innerHTML += `<td>${json.email}</td>`
            row.innerHTML += `<td>${json.phone}</td>`
            return row;
        }

        set #loading(isLoading) {
            if (isLoading) {
                this.elements.tbody.innerHTML = '<tr><td colspan="2" class="text-center"><i class="fa fa-spinner fa-spin mr-2"></i> Loading</td>';
            }
        }
    }
    new ClientListManager();
</script>

{{ template "layouts/trainer-panel-footer.html" .}}

{{ end }}
