{{ define "trainer/dashboard.html" }}

{{ template "layouts/document-head.html" .}}

<div id="Dashboard" class="dark:divide-slate-700 font-sans w-full max-w-md mx-auto drop-shadow-xl bg-white dark:bg-slate-800 rounded-md mt-20">
    <h1 class="font-bold text-3xl mb-4 text-slate-800 dark:text-slate-800 bg-yellow-400 p-5 rounded-t-lg">
        <i class="fa fa-exclamation-triangle text-yellow-900 mr-3"></i>
        <span class="text-yellow-900">Dashboard</span>
    </h1>

    <div class="px-5 pt-2 pb-5 font-bold">
        This page is under Construction.
    </div>
</div>

{{ template "layouts/document-footer.html" .}}

{{ end }}
