{{ define "trainer/sign-in.html" }}

{{ template "layouts/document-head.html" .}}

<div id="SignIn" class="dark:divide-slate-700 font-sans w-full max-w-md mx-auto drop-shadow-xl bg-white dark:bg-slate-800 rounded-md px-5 pt-11 pb-5 mt-20">
    <h1 class="font-bold text-3xl mb-4 text-slate-800 dark:text-slate-200">Sign In</h1>

    <div id="error-message" class="simple-error-msg" style="display:none;"></div>
    <div id="success-message" class="simple-success-msg" style="display:none;"></div>

    <form class="divide-y divide-dashed dark:divide-slate-700 pt-5">
        <div class="pb-10">
            <label>
                <span class="text-sm text-slate-500 dark:text-slate-400">Email</span>
                <input type="text" name="email" autocomplete="off" class="input" />
            </label>
            <label>
                <span class="block text-sm text-slate-500 dark:text-slate-400 mt-6">Password</span>
                <input type="password" name="password" autocomplete="off" class="input" />
            </label>
        </div>

        <div class="flex justify-between">
            <div>
                <a href="/trainer/sign-up" class="inline-block text-sm hover:underline text-slate-500 mt-6">Don't have an account?</a>
            </div>
            <div class="mt-4 text-right">
                <button type="button" id="submit" class="btn btn-primary">
                    <span class="mr-2 -ml-3 transition duration-400" style="display:none;"><i class="fa fa-gear fa-spin"></i></span>
                    Start
                </button>
            </div>
        </div>
    </form>
</div>

<script>
    class SignIn {
        container = 'div#SignIn'
        elements = {
            errorMessage: '#error-message',
            successMessage: '#success-message',
            inputs: {
                email: 'input[name="email"]',
                password: 'input[name="password"]',
            },
            submitBtn: 'button#submit',
        }

        constructor() {
            ElementHydrator.hydrate(this);

            this.elements.submitBtn.addEventListener('click', () => {
                this.#handleSubmit();
            })
        }

        async #handleSubmit() {
            this.#loading = true;

            let body = {};
            for (let key in this.elements.inputs) {
                body[key] = this.elements.inputs[key].value;
            }

            // todo - validate fields

            const res = await fetch('/trainer/sign-in', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(body)
            });

            const resBody = await res.json();

            if (res.status == 200) {
                // todo - redirect to dashboard
                this.#success = resBody.message + ` You will be redirected in (<span id="redirect-delay">3</span>).`;
                document.cookie = `session=${res.headers.get('Authorization')};Max-Age=6000;path=/`;
                setInterval(() => {
                    const delayDisplay = document.querySelector('#redirect-delay');
                    const currentDelay = delayDisplay.textContent;
                    const nextDelay = currentDelay - 1;
                    delayDisplay.textContent = nextDelay;
                    if (nextDelay < 1) {
                        window.location = '/trainer';
                    }
                }, 1000)
            } else {
                this.#error = resBody.error;
            }

            this.#loading = false;
        }

        set #loading(isLoading) {
            // Indicate loading
            const icon = this.elements.submitBtn.querySelector('span');
            icon.style.display = isLoading ? 'inline-block' : 'none';

            // Disable inputs
            for (let key in this.elements.inputs) {
                this.elements.inputs[key].disabled = isLoading ? 'disabled' : '';
            }

            // Disable button
            this.elements.submitBtn.disabled = isLoading ? 'disabled' : '';
        }

        set #error(error) {
            this.elements.errorMessage.textContent = error;
            if (error != '') {
                this.#success = '';
                this.elements.errorMessage.style.display = 'block';
            } else {
                this.elements.errorMessage.style.display = 'none';
            }
        }

        set #success(successMsg) {
            this.elements.successMessage.innerHTML = successMsg;
            if (successMsg != '') {
                this.#error = '';
                this.elements.successMessage.style.display = 'block';
            } else {
                this.elements.successMessage.style.display = 'none';
            }
        }
    }

    new SignIn();
</script>

{{ template "layouts/document-footer.html" .}}

{{ end }}
