.input {
    @apply
    px-3
    py-2
    border
    rounded-md
    w-full
    focus:outline-none

    border-slate-200
    bg-white
    placeholder-slate-500
    text-slate-700
    hover:border-slate-300
    focus:border-slate-300

    dark:border-slate-700
    dark:bg-slate-800
    dark:placeholder-slate-400
    dark:text-slate-300
    dark:hover:border-slate-600
    dark:focus:border-slate-600
}

.simple-success-msg {
    @apply
        text-sm
        rounded-md
        px-4
        py-2

        bg-green-200
        text-green-700

        dark:bg-green-800
        dark:text-green-200
}

.simple-error-msg {
    @apply
        text-sm
        rounded-md
        px-4
        py-2

        bg-red-200
        text-red-700

        dark:bg-red-800
        dark:text-red-200
}

/**
 *
 *
 * Buttons
 *
 *
 */
.btn,
button[type="button"],
button[type="submit"] {
    @apply
        px-8
        py-2
        rounded-md
        border

        hover:bg-slate-100
        hover:border-slate-300
        text-slate-500

        dark:bg-slate-800
        dark:text-slate-400
        dark:border-slate-700
        dark:hover:bg-slate-700
        dark:hover:border-slate-600
        dark:hover:text-slate-300
}

.btn.btn-primary,
button[type="button"].btn.btn-primary,
button[type="submit"].btn.btn-primary {
    @apply
        border-sky-400
        bg-sky-400
        hover:bg-sky-500
        text-white

        dark:bg-sky-500
        dark:text-sky-100
        dark:border-sky-500
        dark:hover:bg-sky-400
        dark:hover:border-sky-400
}

button.btn.btn-sm,
button[type="button"].btn.btn-primary,
button[type="submit"].btn.btn-primary {
    @apply
        text-sm
        py-1
        px-4
}


/**
 *
 *
 * Sidebar Buttons
 *
 *
 */
#sidebar .sidebar-btn {
    @apply
    block
    cursor-pointer
    px-4
    py-1.5
    rounded-none
    text-sm
    w-full
    text-left
    border-l-2
    border-l-slate-100

    text-slate-500
    hover:border-slate-300
    hover:text-slate-600

    dark:border-l-2
    dark:border-l-slate-700
    dark:bg-slate-800
    dark:text-slate-400
    dark:hover:border-l-slate-500
    dark:hover:text-slate-300 
}

#sidebar .sidebar-btn.active {
    @apply
        bg-blue-100
        text-blue-600
        border-blue-300

        dark:bg-slate-700
        dark:border-slate-500
        dark:text-slate-100
}

#sidebar .sidebar-btn i {
    @apply
        mr-2
        text-slate-300

        dark:text-slate-500
}

#sidebar .sidebar-btn.active i {
    @apply
        mr-2

        text-blue-300

        dark:text-slate-500
}