{{ define "layouts/document-footer.html" }}

<script>
    window.toggleDarkMode = function(force) {
        const body = document.querySelector('body');
        let isDarkMode = body.classList.contains('dark');

        // force will basically say that we are currently in the opposite passed.
        // i.e passing 'light' tells me that we are in dark mode, and I will swap.
        if (force && ['light', 'dark'].indexOf(force) > -1) {
            isDarkMode = force === 'light';
        }


        const lightModeClasses = [
            'bg-slate-100',
            'text-slate-800',
        ];

        const darkModeClasses = [
            'dark',
            'bg-gradient-to-r',
            'from-slate-900',
            'to-slate-800',
            'text-white',
        ];

        for (let cssClass of [...lightModeClasses, ...darkModeClasses]) {
            body.classList.remove(cssClass);
        }

        // i.e is currently dark mode, after this point setting will be the other
        if (isDarkMode) {
            for (let cssClass of lightModeClasses) {
                body.classList.add(cssClass)
            }
            window.localStorage.setItem('darkModeSetting', 'off');
        } else {
            for (let cssClass of darkModeClasses) {
                body.classList.add(cssClass)
            }
            window.localStorage.setItem('darkModeSetting', 'on');
        }
    }

    toggleDarkMode(window.localStorage.getItem('darkModeSetting') === 'on' ? 'dark' : 'light');
</script>

</body>
</html>

{{ end }}