{{ define "layouts/document-footer.html" }}

<script>
    window.toggleDarkMode = function(force) {
        const body = document.querySelector('body');
        let isDarkMode = body.classList.contains('dark');

        if (force && ['light', 'dark'].indexOf(force) > -1) {
            isDarkMode = force;
        }


        const lightModeClasses = [
            'bg-slate-100',
            'text-slate-800',
        ];

        const darkModeClasses = [
            'dark',
            'bg-gradient-to-r',
            'from-slate-900',
            'to-slate-800',
            'text-white',
        ];

        for (let cssClass of [...lightModeClasses, ...darkModeClasses]) {
            body.classList.remove(cssClass);
        }

        if (isDarkMode) {
            for (let cssClass of lightModeClasses) {
                body.classList.add(cssClass)
            }
        } else {
            for (let cssClass of darkModeClasses) {
                body.classList.add(cssClass)
            }
        }
    }

    // todo - check local storage for dark mode setting
    toggleDarkMode('light');
</script>

</body>
</html>

{{ end }}